APP_NAME=V-POS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
DEBUGBAR_ENABLED=true
TELESCOPE_ENABLED=true
TELESCOPE_DB_CONNECTION=central
TELESCOPE_AUTH_EMAILS=admin@example.local
APP_URL=http://localhost
CENTRAL_PORTAL_HOST=localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
POS_DISPLAY_CACHE_STORE=pos_display
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
GOOGLE_MAPS_API_KEY=
MAPBOX_ACCESS_TOKEN=

PUSHER_APP_ID=pos_app
PUSHER_APP_KEY=pos_key
PUSHER_APP_SECRET=pos_secret
PUSHER_HOST=soketi
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NEXT_PUBLIC_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
NEXT_PUBLIC_PUSHER_PORT="${PUSHER_PORT}"
NEXT_PUBLIC_PUSHER_SCHEME="${PUSHER_SCHEME}"
NEXT_PUBLIC_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
NEXT_PUBLIC_LAN_IP=
NEXT_MODE=dev

# Sentry Monitoring & Tracing
SENTRY_LARAVEL_DSN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ENVIRONMENT="${APP_ENV}"
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0

# Telegram Notifications
TELEGRAM_NOTIFICATIONS_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_TIMEOUT=10
